/* {
    background-color: silver;
} */

@media screen and(max-width:600px) {
    body{
        color: palegoldenrod;
        background-color: salmon;
        font-weight: 900;
        text-align: center;
    }
    
}